
<header>
    <div class="navbar bg-info shadow-sm">
        <div class="navbar-brand align-item-center d-flex">
            <i style="font-size: 40px; color: white; " class="fa-solid fa-house-chimney-medical icon">&nbsp;
                
            </i>
            <strong style="font-family: 'Times New Roman', Times, serif; font-size: 30px; color: white;">Medicare</strong>
  
            <div class="form-group">
                <input type="text" placeholder="Search Product" class="form-control">
            </div>
            <span class="fas fa-search search-icon"></span>
  
        </div>
        <div>
          <button (click)="goToAdminProducts()" class="btn btn-default">View Products</button>
        </div>
        <button class="btn btn-info">
            <i style="font-size: 30px;" class="fa-solid fa-cart-plus"></i>
            <div style="font-size: 10px" class="badge bg-warning"></div>
        </button>
    </div>
  </header>

  
  
            <div class="col-md-4 offset-md-3">
                <h2>Update Item</h2>
                <div *ngIf="alert" class="alert alert-success alert-dismissible fade show" role="alert">
                  <strong>Success !</strong>&nbsp;&nbsp;Item Updated Successfully
                  <button (click)="closeAlert()" type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <form [formGroup]="formFields" (ngSubmit) = "updateItem()">
                    <div class="form-group">
                        <label>Enter Item Name</label>
                        <input type="text" class="form-control" [(ngModel)]="updateAnalg.name" name = "name" formControlName = "name">

                    </div>
                    <div class="form-group">
                        <label>Enter Description</label>
                        <input type="text" class="form-control" [(ngModel)]="updateAnalg.description" name = "description" formControlName = "description">

                    </div>
                    <div class="form-group">
                        <label>Enter price</label>
                        <input type="text" class="form-control" [(ngModel)]="updateAnalg.price" name = "price" formControlName = "price">

                    </div>

                    <button class="btn btn-info;" type="submit">Submit</button>
                </form><br><br><br><br><br><br>
            </div>




  <footer class="text-center text-white" style="background-color: #f1f1f1;">
    <!-- Grid container -->
    <div class="container pt-4">
      <!-- Section: Social media -->
      <section class="mb-4">
        <!-- Facebook -->
        <a
          class="btn btn-link btn-floating btn-lg text-dark m-1"
          href="#!"
          role="button"
          data-mdb-ripple-color="dark"
          ><i class="fab fa-facebook-f"></i
        ></a>
    
        <!-- Twitter -->
        <a
          class="btn btn-link btn-floating btn-lg text-dark m-1"
          href="#!"
          role="button"
          data-mdb-ripple-color="dark"
          ><i class="fab fa-twitter"></i
        ></a>
    
        <!-- Google -->
        <a
          class="btn btn-link btn-floating btn-lg text-dark m-1"
          href="#!"
          role="button"
          data-mdb-ripple-color="dark"
          ><i class="fab fa-google"></i
        ></a>
    
        <!-- Instagram -->
        <a
          class="btn btn-link btn-floating btn-lg text-dark m-1"
          href="#!"
          role="button"
          data-mdb-ripple-color="dark"
          ><i class="fab fa-instagram"></i
        ></a>
    
        <!-- Linkedin -->
        <a
          class="btn btn-link btn-floating btn-lg text-dark m-1"
          href=""
          role="button"
          data-mdb-ripple-color="dark"
          ><i class="fab fa-linkedin"></i
        ></a>
        <!-- Github -->
        <a
          class="btn btn-link btn-floating btn-lg text-dark m-1"
          href="#!"
          role="button"
          data-mdb-ripple-color="dark"
          ><i class="fab fa-github"></i
        ></a>
      </section>
      <!-- Section: Social media -->
    </div>
    <!-- Grid container -->
    
    <!-- Copyright -->
    <div class="text-center text-dark p-3" style="background-color: hsla(201, 94%, 20%, 0.863);">
      © 2022 Copyright:
      <a class="text-dark" href="">gowkumar9988@gmail.com</a>
    </div>
    <!-- Copyright -->
    </footer>